<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>usbtether</vendor>

  <action id="org.usbtether.manage">
    <description>폰 회선 프록시 켜기/끄기</description>
    <description xml:lang="en">Enable or disable the phone connection proxy</description>
    <message>노트북 네트워크 경로를 바꾸려면 인증이 필요합니다.</message>
    <message xml:lang="en">Authentication is required to change the laptop's network path.</message>
    <icon_name>network-cellular-symbolic</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <!-- 화면 앞에 앉은 로컬 사용자는 매번 묻지 않고 한 번만 인증한다 -->
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
